<div class="auth-container">
  <div class="login-container">
    <div class="company-name">EVIL MAID</div>
    <div *ngIf="error !== null" class="error">
      {{  error }}
    </div>
    <div class="login-item">
      <form (submit)="login()" class="form form-login">
        <div class="form-field">
          <div><span class="hidden">Username</span></div>
          <input type="text" name="email" id="login-username"  class="form-input" placeholder="Email" [(ngModel)]="authInfo.username">
        </div>

        <div class="form-field">
          <div><span class="hidden">Password</span></div>
          <input type = "password" name = "password" id="login-password" class="form-input" placeholder="Password" [(ngModel)]="authInfo.password">
        </div>

        <div class="form-field">
          <input type="submit" value="Log in">
        </div>
      </form>
    </div>
  </div>
</div>