@import "~src/styles.scss";

.container {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  background-color: black;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  align-self: flex-start;
  @include font;
  width: 500px;
  color: white;
  font-size: 24px;
  margin-left: auto;
  position: relative;
  left: -250px;
  top: 250px;
}

.title {
  @include title;
  color: white;
  font-size: 65px;
  border: 3px solid white;
  width: 420px;
  max-width: 50%;
  text-align: center;
  position: fixed;
  bottom: 200px;
  padding: 0px 25px;
}

.icon {
  width: 200px;
}

.image {
  
  background-image: url("/assets/images/cyberpunk.jpg");

  //center and scale the image
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  /* Set rules to fill background */
  min-height: 350px;
  min-width: 350px;
  
  position: absolute;

}
